@import '../../utils/styles/constants';
@import '../../utils/styles/_mixins';

.page-not-found {
  height: 100vh;
  background-color: $color-violet;
  box-sizing: border-box;
  padding: 15%;

  &__message {
    @include font-w400-s20;
    color: $color-white;
  }
}
