@import '../../utils/styles/constants';
@import '../../utils/styles/_mixins';

.input-block {
  @include flex-column;

  &__label {
    @include font-w400-s16;
    color: $color-black;
  }

  &__input {
    margin-top: 8px;
    @include input;
    @include font-w400-s14;
  }

  &__error {
    margin-top: 4px;
    @include font-w400-s10;
    color: $color-red;
    visibility: hidden;

    &_active {
      visibility: visible;
    }
  }
}
