@import '../../utils/styles/constants';
@import '../../utils/styles/_mixins';

.page-sign-up {
  @include grid-column-ifr;
  justify-content: center;
  align-items: center;

  &__form-content {
    @include max-width-block(500px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    height: min-content;
    padding: 16px;
    box-sizing: border-box;
    @include flex-column;
    row-gap: 16px;
  }

  &__title {
    @include reset-margins;
    @include font-w400-s20;
    color: $color-black;
  }

  &__form {
    @include flex-column;
    row-gap: 16px;
  }
}
