@import '../../utils/styles/constants';
@import '../../utils/styles/_mixins';

.person-card {
  @include max-width-block(305px);
  @include card-team-member;
  @include flex-column;
  padding: 30px 20px 20px;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;

  &__img {
    width: 124px;
    border-radius: 50%;
    display: block;
  }

  &__name {
    @include reset-margins;
    margin-top: 16px;
    @include font-w400-s20;
  }

  &__button-like {
    @include reset-button;
    width: 30px;
    height: 28px;
    border-radius: 4px;
    background-color: $color-light-grey;
    margin-top: 16px;
    align-self: end;
    background-image: url(../../images/icon-like.svg);
    background-position: center;
    cursor: pointer;

    &_pressed {
      background-image: url(../../images/icon-like-pressed.svg);
    }
  }
}
